*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.DS_Store

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
*junit-*
htmlcov

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
/unet_trained/
/prediction/
/bleien_data/
/daint_unet_trained_rfi/
/daint_unet_trained_rfi_bleien/
/daint_unet_trained_rfi_bleien4/
/sim_data/
/ufig_images/
/.hope/
/.ipynb_checkpoints/
/.settings/
